<%- include('../_layouts/adminheader') %>
    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1">
            <h4 class="center">Add new Product</h4>
            <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
            <form action="/admin/products/add-product" method="post" enctype="multipart/form-data"
                style="margin-bottom: 20px; padding: 20px;">
                <div class="input-field">
                    <input name="title" value="<%= title %>" id="" type="text" class="">
                    <label class="" for="">Title</label>
                </div>

                <div class="input-field">
                    <input name="price" value="<%= price %>" id="" type="text" class="">
                    <label class="" for="">Price</label>
                </div>

                <div class="input-field">
                    <select name="category">
                        <option value="" disabled selected>Choose a Category</option>
                        <% categories.forEach((cat)=> { %>
                            <option value="<%= cat.slug %>"><%= cat.title %></option>
                            <% }) %>
                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field">
                    <img src="#" id="imgPreview" alt="" srcset="" style="width: 100px;">
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload Product Image</span>
                        <input type="file" name="image" id="img">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <label for="editor" class="brower-default">Product Description</label>
                <div class="input-field">
                    <textarea name="desc" id="editor" class="browser-default"><%= desc %></textarea>

                </div>

                <input type="submit" value="Submit" class="btn">
                <a href="/admin/products" class="btn"><i class="material-icons left">arrow_back</i>Go Back</a>
            </form>
        </div>
    </div>
    </div>

<%- include('../_layouts/adminfooter') %> 
