<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
        /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336;
            /* Red */
            color: white;
            margin-bottom: 15px;
        }

        .alert.success {
            background-color: #04AA6D;
        }

        .alert.info {
            background-color: #2196F3;
        }

        .alert.warning {
            background-color: #ff9800;
        }

        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body class="grey lighten-4">
    <!-- navbar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Admin Pannel</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="orders.html">Orders</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>



        <ul class="sidenav" id="mobile-demo">
            <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </header>

    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1" style="padding: 10px">

            <h4 class="center">Categories List</h4>
            <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% categories.forEach((cat)=> { %>
                                <tr>
                                    <td>
                                        <%= cat.title %>
                                    </td>
                                    <td><a href="/admin/categories/edit-category/<%= cat._id %>"><i
                                                class="material-icons">update</i></a> <a
                                            href="/admin/categories/delete-category/<%= cat._id %>"><i
                                                class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                    <a class="btn" href="/admin/categories/add-category" style="margin: 20px 0"><i
                            class="material-icons left">create</i>Create Category</a>

        </div>

    </div>



    <!-- footer -->

    <footer class="page-footer grey darken-3">
        <div class="footer-copyright grey darken-4">
            <div class="container center-align">
                &copy; Goodsmart <span id="year"></span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            document.querySelector('#year').innerHTML = new Date().getFullYear();
        });
    </script>
</body>

</html>