<%- include('../_layouts/adminheader') %> 
    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1" style="padding: 10px">

            <h4 class="center">Categories List</h4>
            <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <% categories.forEach((cat)=> { %>
                                <tr>
                                    <td>
                                        <%= cat.title %>
                                    </td>
                                    <td><a href="/admin/categories/edit-category/<%= cat._id %>"><i
                                                class="material-icons">update</i></a> <a
                                            href="/admin/categories/delete-category/<%= cat._id %>"><i
                                                class="material-icons">delete</i></a>
                                    </td>
                                </tr>
                                <% }) %>

                        </tbody>
                    </table>
                    <a class="btn" href="/admin/categories/add-category" style="margin: 20px 0"><i
                            class="material-icons left">create</i>Create Category</a>

        </div>

    </div>

<%- include('../_layouts/adminfooter') %>  