<%- include('../_layouts/adminheader') %>

    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1">
            <h4 class="center">Edit Category</h4>
            <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
                    <form action="/admin/categories/edit-category/<%= id %>" method="post"
                        style="margin-bottom: 20px; padding: 20px;">
                        <div class="input-field">
                            <input name="title" value="<%= title %>" id="" type="text" class="">
                            <label class="" for="">Title</label>
                            <div class="red-text">
                                <%= errors.title %>
                            </div>
                        </div>
                        <input type="submit" value="Submit" class="btn">
                        <a href="/admin/categories" class="btn"><i class="material-icons left">arrow_back</i>Go Back</a>
                    </form>
        </div>
    </div>

    <%- include('../_layouts/adminfooter') %>  