<%- include('../_layouts/adminheader') %> 
    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1">
            <h4 class="center">Update Product</h4>
            <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
            <form action="/admin/products/edit-product/<%= id %>" method="post" enctype="multipart/form-data"
                style="margin-bottom: 20px; padding: 20px;">
                <div class="input-field">
                    <input name="title" value="<%= title %>" id="" type="text" class="">
                    <label class="" for="">Title</label>
                    <div class="red-text">
                        <%= errors.title %>
                    </div>
                </div>

                <div class="input-field">
                    <input name="price" value="<%= price %>" id="" type="text" class="">
                    <label class="" for="">Price</label>
                    <div class="red-text">
                        <%= errors.price %>
                    </div>
                </div>

                <div class="input-field">
                    <select name="category">
                        <option value="" disabled selected>Choose a Category</option>
                        <% categories.forEach((cat)=> { %>
                            <option value="<%= cat.slug %>" <% if(cat.slug==category){ %>
                                selected = "selected"
                                <% } %>
                                    ><%= cat.title %>
                            </option>
                            <% }) %>

                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field">
                    <p for="">Current Image</p>
                    <p>
                        <% if (image=="" ) { %>
                            <img src="/images/noimage.png" class="noimage" alt="" srcset="" style="width: 100px">
                            <% } else { %>
                                <img src="/product_images/<%= id %>/<%= image %>" class="noimage" alt="" srcset="" style="width: 100px">
                                <% } %>
                    </p>
                </div>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Upload Product Image</span>
                        <input type="file" name="image" id="img">
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                    <div class="red-text">
                        <%= errors.image %>
                    </div>
                </div>
                <label for="editor">Product Description</label>

                <div class="input-field">
                    <textarea name="desc" id="editor" class="browser-default"><%= desc %></textarea>
                    <div class="red-text">
                        <%= errors.desc %>
                    </div>
                </div>
                <input type="hidden" name="pimage" value="<%= image %>">
                <input type="submit" value="Submit" class="btn">
                <a href="/admin/products" class="btn"><i class="material-icons left">arrow_back</i>Go Back</a>
            </form>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <%- include('../_layouts/adminfooter') %>  