<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

    </style>
</head>

<body class="grey lighten-4">
    <!-- navbar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Admin Pannel</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="orders.html">Orders</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>



        <ul class="sidenav" id="mobile-demo">
            <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </header>

    <!-- lists category -->
    <div class="container">
        <div class="white z-depth-1">
            <h4 class="center">Add new Product</h4>
            <form action="/admin/products/edit-product/<%= id %>" method="post" enctype="multipart/form-data"
                style="margin-bottom: 20px; padding: 20px;">
                <div class="input-field">
                    <input name="title" value="<%= title %>" id="" type="text" class="">
                    <label class="" for="">Title</label>
                </div>

                <div class="input-field">
                    <input name="price" value="<%= price %>" id="" type="text" class="">
                    <label class="" for="">Price</label>
                </div>

                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Choose a Category</option>
                        <% categories.forEach((cat)=> { %>
                            <option value="<%= cat.slug %>" <% if(cat.slug==category){ %>
                                selected = "selected"
                                <% } %>
                                    ><%= cat.title %>
                            </option>
                            <% }) %>

                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field">
                    <label for="">Current Image</label>
                    <p>
                        <% if (image=="" ) { %>
                            <img src="/images/noimage.png" class="noimage" alt="" srcset="">
                            <% } else { %>
                                <img src="/product_images/<%= id %>/<%= image %>" class="noimage" alt="" srcset="">
                                <% } %>
                    </p>
                </div>
                <div class="input-field">
                    <input type="file" name="image" class="" id="img">
                    <label for="image">Image</label>
                    <img src="#" id="imgPreview" alt="" srcset="">
                </div>
                <label for="editor">Product Description</label>

                <div class="input-field">
                    <textarea name="desc" id="editor" class="browser-default"><%= desc %></textarea>

                </div>
                <input type="hidden" name="pimage" value="<%= image %>">
                <input type="submit" value="Submit" class="btn">
                <a href="" class="btn"><i class="material-icons left">arrow_back</i>Go Back</a>
            </form>
        </div>
    </div>



    <!-- footer -->

    <footer class="page-footer grey darken-3">
        <div class="footer-copyright grey darken-4">
            <div class="container center-align">
                &copy; Goodsmart <span id="year"></span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/27.1.0/classic/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('select').formSelect();
            ClassicEditor
                .create(document.querySelector('#editor'))
                .then(editor => {
                    console.log(editor);
                })
                .catch(error => {
                    console.error(error);
                });

            // form image preview
            function readURL(input) {
                if (input.files && input.files[0]) {
                    let reader = new FileReader()

                    reader.onload = function (e) {
                        $("#imgPreview").attr('src', e.target.result).width(100).height(100)
                    }

                    reader.readAsDataURL(input.files[0])
                }
            }

            $("#img").change(function () {
                readURL(this)
            })
            document.querySelector('#year').innerHTML = new Date().getFullYear();

        });
    </script>
</body>

</html>