<%- include('../_layouts/adminheader') %> 
    <div class="white z-depth-1" style="padding: 0 5px; margin:5px;">
        <h4 class="center">Orders</h4>
        <%- messages('messages', locals) %>
        <%- include('../_layouts/flash_error') %>
        <% if (count > 0 ) { %>
        <table>
            <thead>
                <tr>
                    <th>username</th>
                    <th>Customer Name</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>trxId</th>
                    <th>Orders</th>
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Change Status</th>
                </tr>
            </thead>

            <tbody>
                <% orders.forEach((order)=> { %>
                <tr>
                    <td><%= order.username %></td>
                    <td><%= order.name %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.address %></td>
                    <td><%= order.trxID %></td>
                    <td>
                        <% order.order.forEach((item)=> { %>
                            <p><%= item.title %></p> <p>Qty: <%= item.qty %></p>
    
                            <% }) %>
                    </td>
                    <td>৳<%= order.total_price %></td>
                    
                    <td>
                        <% if(order.delivery_status) {%>
                            <i class=" material-icons">check</i>
                            <% }else {%>
                            <i class=" material-icons">directions_bike</i> 
                        <% } %> </td>
                    <td><a href="/admin/orders/change_status/<%= order.id %>"><i class=" material-icons">sync</i></a></td>
                </tr>
                <% }) %>

            </tbody>
        </table>
        <% } else { %>
            <h3 class="center">There is no orders</h3>
        <% } %>
    </div>

    <%- include('../_layouts/adminfooter') %>  