<%- include('../_layouts/adminheader') %> 

    <!-- product list -->
    <div class="white z-depth-1" style="padding:0 5px; margin:5px;">
        <h4 class="center">Products List</h4>
        <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
        <% if (count> 0 ) { %>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% products.forEach((product)=> { %>
                        <tr>
                            <td>
                                <%= product.title %>
                            </td>
                            <td>৳<%= parseFloat(product.price).toFixed(2) %>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                            <td>
                                <% if (product.image=="" ){ %>
                                    <img class="noimage" src="/images/noimage.png" alt="" srcset="" style="width: 40px">
                                    <% } else {%>
                                        <img class="noimage"
                                            src="/product_images/<%= product._id %>/<%= product.image %>" alt=""
                                            srcset="" style="width: 40px">
                                        <% } %>
                            </td>
                            <td><a href="/admin/products/edit-product/<%= product._id %>"><i
                                        class="material-icons">update</i></a> <a
                                    href="/admin/products/delete-product/<%= product._id %>"><i
                                        class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <h3 class="center">There is no products</h3>
                <% } %>
                    <a class="btn" href="/admin/products/add-product" style="margin: 20px 0"><i
                            class="material-icons left">create</i>Add Product</a>
    </div>

    <%- include('../_layouts/adminfooter') %>  