<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>

    </style>
</head>

<body class="grey lighten-4">
    <!-- navbar -->
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">Admin Pannel</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
                    <li><a href="categories.html">Categories</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="orders.html">Orders</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>



        <ul class="sidenav" id="mobile-demo">
            <li><a href="dashboard.html"><i class="material-icons left">dashboard</i></a></li>
            <li><a href="categories.html">Categories</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="orders.html">Orders</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </header>


    <!-- product list -->
    <div class="white z-depth-1" style="padding:0 5px; margin:5px;">
        <h4 class="center">Products List</h4>
        <%- messages('messages', locals) %>
                <%- include('../_layouts/flash_error') %>
        <% if (count> 0 ) { %>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <% products.forEach((product)=> { %>
                        <tr>
                            <td>
                                <%= product.title %>
                            </td>
                            <td>৳<%= parseFloat(product.price).toFixed(2) %>
                            </td>
                            <td>
                                <%= product.category %>
                            </td>
                            <td>
                                <% if (product.image=="" ){ %>
                                    <img class="noimage" src="/images/noimage.png" alt="" srcset="" style="width: 40px">
                                    <% } else {%>
                                        <img class="noimage"
                                            src="/product_images/<%= product._id %>/<%= product.image %>" alt=""
                                            srcset="" style="width: 40px">
                                        <% } %>
                            </td>
                            <td><a href="/admin/products/edit-product/<%= product._id %>"><i
                                        class="material-icons">update</i></a> <a
                                    href="/admin/products/delete-product/<%= product._id %>"><i
                                        class="material-icons">delete</i></a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            <% } else { %>
                <h3 class="center">There is no products</h3>
                <% } %>
                    <a class="btn" href="/admin/products/add-product" style="margin: 20px 0"><i
                            class="material-icons left">create</i>Add Product</a>
    </div>




    <!-- footer -->

    <footer class="page-footer grey darken-3">
        <div class="footer-copyright grey darken-4">
            <div class="container center-align">
                &copy; Goodsmart <span id="year"></span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            document.querySelector('#year').innerHTML = new Date().getFullYear();
        });
    </script>
</body>

</html>