<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .row {
            margin-top: 40px;
        }

        .card:hover {
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        }

        form {
            max-width: 460px;
            margin: 20px auto;
            padding: 20px;
        }

        /* The alert message box */
        .alert {
            padding: 20px;
            background-color: #f44336;
            /* Red */
            color: white;
            margin-bottom: 15px;
        }

        /* The close button */
        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        /* When moving the mouse over the close button */
        .closebtn:hover {
            color: black;
        }
    </style>
</head>

<body class="grey lighten-4">
    <!-- navbar -->
    <header>
        <ul class="sidenav" id="mobile-demo">
            <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Categories<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
            <li><a href="collapsible.html">Login/Signup</a></li>
        </ul>

        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Books</a></li>
            <li class="divider"></li>
            <li><a href="#!">Computer</a></li>
            <li class="divider"></li>
            <li><a href="#!">Electronic</a></li>
            <li class="divider"></li>
            <li><a href="#!">Other Books</a></li>
        </ul>

        <ul id="dropdown2" class="dropdown-content">
            <li><a href="#!">Books</a></li>
            <li class="divider"></li>
            <li><a href="#!">Computer</a></li>
            <li class="divider"></li>
            <li><a href="#!">Electronic</a></li>
            <li class="divider"></li>
            <li><a href="#!">Other Books</a></li>
        </ul>


        <nav>
            <div class="nav-wrapper grey darken-4">
                <a href="#!" class="brand-logo">Goodsmart</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">

                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Categories<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a href="badges.html"><i class="material-icons">shopping_cart</i></a></li>
                    <li><a href="collapsible.html">Login/Signup</a></li>


                </ul>
            </div>


        </nav>



    </header>


    <section class="container">
        <form action="/users/register" method="POST" class="white z-depth-2">
            <%- messages('messages', locals) %>
                <h4 class="center grey-text">Signup</h4>
                <% if (messages) { %>
                    <div class="alert">
                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                        <%= messages.danger %>
                    </div>


                    <% } %>


                        <div class="input-field">
                            <label for="username">Username</label>
                            <input type="text" name="username" value="">
                            <span class="helper-text" data-error="Username must be 5 to 12 character long"
                                data-success=""></span>
                            <div class="red-text">
                                <%= errors.username %>
                            </div>
                        </div>

                        <div class="input-field">
                            <label for="email">Email</label>
                            <input type="email" name="email" value="">
                            <span class="helper-text" data-error="Enter a valid email address" data-success=""></span>
                            <div class="red-text">
                                <%= errors.email %>
                            </div>
                        </div>

                        <div class="input-field">
                            <label for="phone">Phone</label>
                            <input type="text" name="phone" value="">
                            <span class="helper-text" data-error="Phone numbers have to from 0-9 and 11 digit long"
                                data-success="right"></span>
                            <div class="red-text">
                                <%= errors.phone %>
                            </div>
                        </div>

                        <div class="input-field">
                            <label for="password">Password</label>
                            <input type="password" name="password" value="">
                            <span class="helper-text" data-error="Password have to at least 8 character long"
                                data-success="right"></span>
                            <div class="red-text">
                                <%= errors.password %>
                            </div>
                        </div>

                        <div class="input-field">
                            <label for="confirm_password">Confirm Password</label>
                            <input type="password" name="confirm_password" value="">
                            <div class="red-text">
                                <%= errors.confirm_password %>
                            </div>
                        </div>
                        <div class="center input-field">
                            <input id="submit" type="submit" name="submit" value="Signup"
                                style="width: 100%; margin-top: 15px;" class="btn brand z-depth-0">
                        </div>
                        <p style="display: inline-block">Alreay a member?</p>
                        <a href="/user/login">Login</a>
        </form>


    </section>




    <!-- footer -->

    <footer class="page-footer grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12 l6">
                    <h5>About Us</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ab, voluptatem esse itaque
                        laboriosam asperiores enim. Nihil!</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe ab, voluptatem esse itaque
                        laboriosam asperiores enim. Nihil!</p>
                </div>
                <div class="col s12 l4 offset-12">
                    <h5>Connect</h5>
                    <ul>
                        <li><a href="" class="grey-text text-lighten-3">Facebook</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Twitter</a></li>
                        <li><a href="" class="grey-text text-lighten-3">LinkedIn</a></li>
                        <li><a href="" class="grey-text text-lighten-3">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright grey darken-4">
            <div class="container center-align">
                &copy; Goodsmart<span id="year"></span>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $('.dropdown-trigger').dropdown();
            $('.carousel').carousel({
                indicators: true
            });
            $('.slider').slider();

            document.querySelector('#year').innerHTML = new Date().getFullYear();


            const inputs = document.querySelectorAll('input');

            const patterns = {
                phone: /^[0-9]{11}$/,
                username: /^[a-zA-Z\d]{5,12}$/,
                password: /^[\w@-]{8,20}$/i,
                email: /^([a-z\d\.-]+)@([a-z\d-]+)\.([a-z]{2,8})(\.[a-z]{2,8})?$/
            }

            //validate
            function validate(field, regex) {
                if (regex.test(field.value)) {
                    field.className = 'valid';
                    $('#submit').removeClass('disabled');
                } else {
                    field.className = 'invalid';
                    $('#submit').addClass('disabled');
                }
            }

            inputs.forEach((input) => {
                input.addEventListener('keyup', (e) => {
                    //console.log(e.target.attributes.name.value);
                    validate(e.target, patterns[e.target.attributes.name.value]);
                })
            })

        });
    </script>
</body>

</html>